body{
font-family: Arial;
margin:0;
}

.menu{
display:flex;
list-style:none;
background:black;
}

.menu li{
margin:10px;
}

.menu a{
color:white;
text-decoration:none;
}

.menu a:hover{
color:yellow;
}

.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
padding:20px;
}

.gallery img{
width:100%;
border:3px solid black;
padding:5px;
}

.gallery img:nth-child(odd){
border-radius:20px;
}

.skip{
position:absolute;
left:-999px;
}

.skip:focus{
left:10px;
top:10px;
background:yellow;
padding:10px;
}
